.heading {
  display: block;
}

.block {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.block a {
  display: inline-block;
  font-size: 15pt;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgba(63, 63, 63, .2);
}

.block a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: red;
  background-color: rgba(195, 195, 195, .15);
}

.block article {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
