:root {
  --img-h-rel: 60%;
}

.card {
  display: flex;
  aspect-ratio: 3.5 / 4.8;
  background-color: #ddd;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-width: 240px;
  background-color: rgba(255, 255, 255i, .5);
}

.card img {
  width: 100%;
  height: var(--img-h-rel);
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: brightness(70%);
  overflow: hidden;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: white;
  box-sizing: border-box;
  height: calc(100% - var(--img-h-rel));
  color: #3F3F3F;
  align-content: center;
}

.card-content h2 {
  margin: 0;
  font-size: 16pt;
  line-height: 1.4;
}

.card:hover h2 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-color: red;
  text-underline-offset: 2px;
}

.card:hover img {
  filter: brightness(100%);
}

.card p {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 12pt;
  color: black;
  opacity: 1;
}
