:root {
  --n-col: 1;
}

@media (min-width: 550px) {
  :root {
    --n-col: 2;
  }
}

@media (min-width: 800px) {
  :root {
    --n-col: 3;
  }
}

.heading {
  display: block;
  margin-bottom: 1.5ch;
  width: 100%;
}

.card-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--n-col), 1fr);
  gap: 1.5ch;
  width: 100%;
  align-content: start;
  justify-content: center;
  width: fit-content;

}

.layout-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  align-content: start;
}

.layout-wrapper>* {
  grid-column: 1 / -1;
}
