:root {
  --art-width: 65ch;
}

@media (max-width: 500px) {
  :root {
    --art-width: 33ch;
  }
}

.art {
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  width: var(--art-width);
  text-align: justify;
}

.art pre {
  background-color: rgba(63, 63, 63, .2);
  padding: 10px 5px;
  border-radius: 10px;
  overflow-x: auto;
  line-height: 1.5;
  margin: 20px 0px;
}

.art code {
  margin: 0 auto;
  font-family: monospace;
  font-size: 14px;
  background: none i !important;
}

.art a {
  font-weight: bold;
}

.art a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  text-decoration-color: red;
}

.art p {
  margin: 10px 0;
}

.art h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin-top: 24px;
  margin-bottom: 12px;
}
