* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: visible;
}

:root {
  --footer-h: 80px;
  --header-h: 80px;
  font-size: 14pt;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #131119;
  margin: 0 auto;
  width: 85ch;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

a {
  font-weight: bold;
  font-family: inherit;
  text-decoration: none;
  cursor: default;
  color: inherit;
  cursor: pointer;
}
