.footer {
  display: flex;
  justify-content: space-between;
  grid-area: footer;
  height: var(--footer-h);
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding: 0px 10px;
}

.footer .social-media {
  display: flex;
  gap: 10px;
}

.footer .social-media a:hover {
  transform: scale(1.2, 1.2);
}

.footer .signature {
  font-size: 12pt;
  flex: 1;
}
